.wrapper {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

.partner-container {
    margin: 20px;
}

.partner-head-text {
    color: white;
}

.partner-list {
    display: flex;
}

.img-partner {
    width: 100%;
    height: 123.54px;
}

.img-content {
    margin: 10px;
}