.profit-status-container {
    background-color: antiquewhite;
    width: 350px;
    text-align: center;
}

.profit-status-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.profit-status-card-content {
    border-radius: 20px;
    width: 300px;
    height: 100px;
    background-color: white;
}

.profit-status-card-text {
    text-align: right;
    margin-right: 20px;
    padding-top: 25px;
    position: relative;
}

.profit-status-card-number {
    text-align: right;
    margin-right: 20px;
    margin-top: -15px;
}
